.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 20px -5px black;
  background-color: #050417;
  z-index: 2;
}

.searchBox {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.logo {
  margin-left: 50px;
}

.logo img {
  width: 70px;
  height: auto;
}

.paths a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.leftSide {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

.randomButton {
  font-size: 45px;
  background: white;
  color: #4065b0;
  border-radius: 100%;
  padding: 3px;
}

@media (max-width: 768px) {
  .searchBox {
    display: none;
  }

  .navbar {
    justify-content: flex-start;
    height: 90px;
  }

  .logo {
    margin-left: 25%;
    width: 60px;
  }

  .randomButton {
    display: none;
  }
}
