.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
  height: 120px;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 20px -5px black;
  background-color: #050417;
}


.searchBox {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.logo {
  margin-left: 50px;
  width: 40%;
}

.logo img {
  width: 70px;
  height: auto;
}

@media (max-width: 768px) {
  .searchBox {
    display: none;
  }

  .navbar {
    justify-content: flex-start;
    height: 90px;
  }

  .logo {
    margin-left: 7%;
    width: unset;
  }

  .logo img {
    width: 55px;
    height: auto;
  }
}
