.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  padding-bottom: 50px;
}
.pagination > .active > a {
  background-color: #2a2b8d;
  border-color: #2a2b8d;
  color: #fff;
  transition: all 0.1s;
}
.pagination > li > a {
  border: 1px solid #2a2b8d;
  padding: 10px 13px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #2a2b8d;
  border-color: #2a2b8d;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #2a2b8d;
  margin: 0 2px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 2px;
  margin: 0px 8px;
}

@media (max-width: 768px) {
  .pagination > li > a {
    display: none;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span,
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    display: block;
  }
}
